/* list styles */

.list-plain {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
}

.list-striped li:nth-child(odd) {
	background: rgba(30, 30, 0, 0.08);
}

.list-hover li:hover {
	background: linear-gradient(rgba(0, 0, 30, 0.13), rgba(0, 0, 30, 0.07));
}


/* visibility functions */

.toggle-visibility {
	cursor: pointer;
}


/* table styles */

.table-striped tbody tr:nth-child(odd) {
	background: rgba(30, 30, 0, 0.08);
}

.table-hover tbody tr:hover {
	background: linear-gradient(rgba(0, 0, 30, 0.13), rgba(0, 0, 30, 0.07));
}


/* table functions */

.th-sortable {
	cursor: pointer;
}